[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IterativeHardThresholding"]
	path = IterativeHardThresholding
	url = https://github.com/cran/IterativeHardThresholding
	shallow = true
	registered = true
[submodule "MultiBD"]
	path = MultiBD
	url = https://github.com/msuchard/multibd
	shallow = true
	registered = true
[submodule "RcppXsimd"]
	path = RcppXsimd
	url = https://github.com/cran/RcppXsimd
	shallow = true
	registered = true
