[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BrokenAdaptiveRidge"]
	path = BrokenAdaptiveRidge
	url = https://github.com/cran/BrokenAdaptiveRidge
[submodule "IterativeHardThresholding"]
	path = IterativeHardThresholding
	url = https://github.com/cran/IterativeHardThresholding
[submodule "MultiBD"]
	path = MultiBD
	url = https://github.com/msuchard/multibd
[submodule "RcppXsimd"]
	path = RcppXsimd
	url = https://github.com/cran/RcppXsimd
